
<div class="content-heading">
  <div>
    Dashboard
    <small>Dashboard pregled</small>
  </div>
</div>

<fieldset>
  <legend>Imovina</legend>

  <div class="row">

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fas fa-box"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetYerseyCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Dresovi">Dresovi</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fas fa-circle"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetBallCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Lopte">Lopte</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-socks"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetSocksCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Štucne">Štucne</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-tags"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetGoalCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Golovi">Golovi</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-bars"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetRestCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Ostala oprema">Ostala oprema</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-receipt"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetMachineCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Kosilice">Kosilice</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-primary-dark">
          <em class="fa-3x fas fa-pile">Σ</em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-primary">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Sva oprema">Sva oprema</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-danger-dark">
          <em class="fa-3x fas fa-flag"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-danger">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{assetBrokenCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Slomljena oprema">Slomljena oprema</div>
        </div>
      </div>

    </div>

  </div>

</fieldset>


<fieldset>
  <legend>Zaposlenici</legend>

  <div class="row">

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-users"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesPlayersCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Igrači">Igrači</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fas fa-users"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesCoachesCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Treneri">Treneri</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-cog"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesMaintenancesCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Održavanje terena i opreme">Održavanje</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-users"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesRestCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Ostali zaposlenici">Ostali zaposlenici</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-server"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesAdminsCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Informatika">Administratori</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-success-dark">
          <em class="fa-3x fas fa-users"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-success">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesLeadsCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Uprava kluba">Uprava kluba</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-primary-dark">
          <em class="fa-3x fas fa-ball">Σ</em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-primary">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Svi zaposlenici">Svi zaposlenici</div>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-md-6">

      <div class="card flex-row align-items-center align-items-stretch border-0 cursor-pointer" (dblclick)="goToState()">
        <div class="col-4 d-flex align-items-center justify-content-center rounded-left bg-danger-dark">
          <em class="fa-3x fas fa-plus"></em>
        </div>
        <div class="col-8 py-3 rounded-right text-right bg-danger">
          <div class="h2 mt-0">
            <div class="ball-pulse">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span>{{employeesPlayersInjuryCount}}</span>
          </div>

          <div class="text-uppercase truncate-fw text-right" title="Ozljeđeni igrači">Ozljeđeni igrači</div>
        </div>
      </div>

    </div>

  </div>

</fieldset>



