<div class="card card-default">
  <div class="card-header card-header-blue-colored">Osnovni podaci</div>
  <div class="card-body">
    <form class="form-horizontal small-fieldset">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">ID</label>
          <div class="col-md-10">
            <p class="form-control-plaintext text-bold">{{ team.id }}</p>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Status</label>
          <div class="col-md-10">
            <span class="badge" [ngStyle]="{'background-color': team.statusColor, 'color': '#ffff', 'min-width':'60px'}">{{ team.statusName }}</span>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Naziv</label>
          <div class="col-md-10">
            <p class="form-control-plaintext text-bold">{{ team.name }}</p>
          </div>
        </div>
      </fieldset>


      <fieldset>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Liga</label>
          <div class="col-md-10">
            <p class="form-control-plaintext text-bold">{{ team.league }}</p>
          </div>
        </div>
      </fieldset>

    </form>
  </div>
</div>
