<fieldset>
  <legend>Članovi tima</legend>

  <button class="btn btn-outline-success btn-sm" type="button" (click)="addMember()">
    <i class="fas fa-plus"></i> Dodaj člana tima
  </button>

  <div>

    <table class="table table-hover">
      <thead>
        <tr>
          <td [ngStyle]="{'min-width':'100px'}"><b>Ime</b></td>
          <td [ngStyle]="{'min-width':'100px'}"><b>Prezime</b></td>
          <td><b>Radno mjesto</b></td>
          <td><b>U timu od</b></td>
          <td><b>Oib</b></td>
          <td><b>Status</b></td>
          <td><b></b></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of members">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.workplaceName}}</td>
          <td>{{employee.teamDateFrom | date}}</td>
          <td>{{employee.oib}}</td>
          <td>
            <span class="badge" [ngStyle]="{'background-color': employee.statusColor, 'color': '#ffff', 'min-width':'60px'}">{{ employee.statusName }}</span>
          </td>
          <td>
            <button class="btn btn-outline-primary btn-xs" (click)="goToProfile(employee.id)">Profil</button>
            &nbsp;<button class="btn btn-outline-danger btn-xs" (click)="removeMember(employee.id)">Ukloni</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>


